.card1
{
  float: left;
  margin-right: 75px;
}

.card2
{
  float: left;
  margin-right: 75px;
}

.inicio
{
  padding: 20px;
}

.tquienessomos
{
  width: 100%;
  text-align: center;
}

.tdocumentos
{
  width: 100%;
  text-align: center;
}
